body {
  background-color: #eeeeee;
  margin: 0px;
}

main {
  width: 900px;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #a34a28;
  font-weight: 400;
}

hr {
  color: #efe9cc;
  height: 2px;
}

object {
  width: 900px;
  height: 450px;
  margin-bottom: 0px;
}

.head {
  background-color: white;
  width: 100%;
  height: 75px;
  text-align: center;
  display: flex;
  border-style: groove;
  border-color: #eeeeee;
  border-width: thin;
}

.menu-bar {
  flex: 0.4;
  margin-top: 26px;
  margin-left: 10px;
  margin-right: 0px;
}

.header-logo {
  height: 90px;
  width: 120px;
  padding-left: 0px;
  padding-top: 15px;
  margin-right: 50px;
  margin-left: 0px;
  flex: 1;
}

.logo-container {
  text-align: left;
  display: flex;
}

.search-container {
  display: flex;
  text-align: center;
}

.search-button {
  margin-top: 27px;
  height: 25px;
}

.search-field {
  height: 19px;
  width: 500px;
  margin-top: 27px;
}

.icons-container {
  display: flex;
  margin-left: 33%;
  margin-top: 0px;
  text-align: right;
  margin-bottom: 100px;
  padding-bottom: 100px;
  padding-top: 0px;
}

.bell-icon {
  margin-left: 22px;
  margin-top: 30px;
}

.user-icon {
  margin-left: 22px;
  margin-top: 30px;
}

.sign-icon {
  margin-left: 22px;
  margin-top: 30px;
}

.right-side {
  background-color: #dedede;
  float: left;
  width: 33%;
  height: 960px;
  padding-right: 0px;
}

.thumbnail-title {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 1.0rem;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 0px;
}

.thumbnail-text {
  line-height: normal;
  color: black;
  font-size: 0.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  flex: 1;
}

.avatar-icon {
  height: 32px;
  text-align: right;
  margin-left: 100%;
  float: left;
  padding-right: 30px;
}

.video-container {
  text-align: left;
  float: left;
  border-color: #eeeeee;
}

.view-container {
  background-color: #dedede;
  height: 100px;
  width: 900px;
  margin-top: 0px;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
}

.video-icons {
  text-align: right;
  margin-left: 185px;
  margin-top: 20px;
}

.video-title {
  text-align: left;
  margin-top: 0px;
  width: 500px;
  height: 150px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.description-container {
  background-color: #dedede;
  height: 400px;
  width: 900px;
  margin-top: 0px;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
}

.user-chanel {
  flex: 1;
  margin-top: 18px;
  ;
}

.subscriber {
  flex: 10;
}

.video {
  margin-right: 47%;
  margin-top: 0%;
}

.channel-container {
  text-align: left;
  margin-right: 0%;
}

.video-description {
  margin-top: 0px;
  width: 300px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  margin-left: 5px;
  float: left;
}

.views-text {
  text-align: right;
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 0.8rem;
}

.subscribe-button {
  background-color: #c10000;
  text-align: right;
  margin-left: 320px;
  color: white;
  height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
}

.view-button {
  background-color: #dfddc7;
  margin-right: 5px;
}

.subscribe-text {
  color: #eeeeee;
  text-align: center;
}

.subscribe-logo {
  height: 32px;
  margin-right: 5px;
  display:
    margin-bottom: 0px;
  padding: 0 0 0 0;
}

.subscribe-container {
  text-align: left;
}

.channel-title {
  color: #c10000;
}

.desc-icon {
  margin-left: 20px;
}

.view-buttons {
  margin-bottom: 50px;
}

.thumbnail {
  height: 200px;
  width: 300px;
  margin-left: 0px;
  margin-right: 70px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.side-video-container {
  display: flex;
}

.side-video {
  width: 256px;
  height: 128px;
  margin-right: 5px;
}

.side-video-text {
  margin-bottom: 0;
}
