body {
  background-color: #efe9cc;
  margin: 0px;
}
main {
  width: 900px;
}
.side-bar{
  text-align: right;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

hr
{
  color: #efe9cc;
  height: 2px;
}

/* Class Elements */
.head {
  background-color: #deb881;
  width: 100%;

  text-align: center;
}

.header-logo {
  height: 64px;
  width: 256px;
  padding-left: 10px;
  padding-top: 10px;
  margin-right: 50px;
}

.logo-container {
  text-align: left;
  display: flex;
}

.icons-container {
  display: flex;
  margin-left: 75%;
}

.avatar-icon {
  height: 32px;
  text-align: right;
  margin-left: 100%;
  float: left;
  padding-right: 30px;
}

.search-field {
  width: 500px;
  margin-bottom: 10px;
  height: 25px;
  position: inherit;
}

.video-container {
  text-align: left;
}

.view-container {
  background-color: #f6cd90;
  height: 256px;
  width: 900px;
  margin-top: 0px;
}

.video {
  margin-right: 47%;
  margin-top: 0%;
}

object {
  width: 900px;
  height: 450px;
  margin-bottom: 0px;
}
.chanel-container {
  text-align: left;
  margin-right: 0%;
}
.video-description {
  margin-top: 0px;
  width: 300px;
}
.video-title {
  text-align: left;
  margin-top: 0px;

}

.views-text {
  text-align: right;
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

.subscribe-button {
  background-color: red;
 text-align: right;
 margin-left:  335px;

}

.subscribe-text {
  margin-left: 0;
margin-bottom: 2px;
margin-top: 0;
color: #efe9cc;
text-align: center;
}

.subscribe-logo {
  height: 32px;
  margin-right: 5px;
  display:
  margin-bottom: 0px;
  padding: 0 0 0 0;
}

.subscribe-container {
  text-align: left;
}
